@model demomvc.Models.Contacto
@{
    ViewData["Title"] = "Contacto";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Formulario de Contacto</h1>

    <form asp-controller="Contacto" asp-action="Index">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />

        <label asp-for="Correo" class="control-label"></label>
        <input asp-for="Correo" class="form-control" />

        <label asp-for="Telefono" class="control-label"></label>
        <input asp-for="Telefono" class="form-control" />

        <label asp-for="Comentario" class="control-label"></label>
        <input asp-for="Comentario" class="form-control" />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar</button> 
        </div>              
    </form>

</div>
