@model demomvc.Models.Calculadora
@{
    ViewData["Title"] = "Calculadora";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form asp-controller="Calculadora" asp-action="Calcular">
        <label asp-for="Operando1" class="form-label"></label>
        <input asp-for="Operando1" class="form-control form-control-sm" type="text" placeholder="Escribe un numero" aria-label=".form-control-sm" />

        <label asp-for="Operando2" class="control-label"></label>
        <input asp-for="Operando2" class="form-control form-control-sm" type="text" placeholder="Escribe un numero" aria-label=".form-control-sm" />

        <label asp-for="Operador" class="control-label"></label>
        <select asp-for="Operador" >
            <option value="+">Suma</option>
            <option value="-">Resta|</option>
            <option value="*">Multiplicacion</option>
            <option value="/">Division</option>
        </select>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Calcular</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>

</div>
